
# Genealogy Pages

  * [Genealogy Overview](/genealogy/2019/04/11/genealogy-research.html)
  * The [Babcock Line](/genealogy/babcock/2019/04/08/babcock-research.html)
    * Mirror of the now inactive [CrandallGenealogy.com](/genealogy/crandall/2019/04/16/crandallgenealogy-com.html)
  * The [Dombrowski Line](/genealogy/dombrowski/2019/04/11/dombrowski-research.html)
  * The [Parker Line](/genealogy/parker/2019/04/10/parker-research.html)
  * The [Winters Line](/genealogy/winters/2019/04/06/winters-research.html)
    * History of the [Palatines](/genealogy/2019/04/13/palatines.html)
  * [Sources &amp; Notes](/genealogy/2019/04/22/genealogy-sources.html)


<style>
h1 { color: #336600; font-weight: bold; width: 100%; padding: 6px; border-bottom: 2px solid #336600; }
h2, h3 { color: #336600; }
.anchor { text-decoration: none; }
.page {
    width: "100%";
    margin: 20px;
    padding: 20px;
    background: #ededed;
    border: 1px solid black;
    white-space: pre-wrap;
}
</style>
