
# Research Notes

<a name="family-lines"></a>
## Genealogy Pages

  * [Genealogy Overview](/genealogy/2019/04/11/genealogy-research.html)
  * The [Babcock Line](/genealogy/babcock/2019/04/08/babcock-research.html)
    * Mirror of the now inactive [CrandallGenealogy.com](/genealogy/crandall/2019/04/16/crandallgenealogy-com.html)
  * The [Dombrowski Line](/genealogy/dombrowski/2019/04/11/dombrowski-research.html)
  * The [Parker Line](/genealogy/parker/2019/04/10/parker-research.html)
  * The [Winters Line](/genealogy/winters/2019/04/06/winters-research.html)
    * History of the [Palatines](/genealogy/2019/04/13/palatines.html)

## Changing Place Names and Political Borders

I will try to keep references to places contempraneous with the subject, so
for example, you will not see references to the Unites States of America
before July 4, 1776.

## Common Sources

In addition to the family-specific sources cited on each of the <a href="#family-lines">family lines pages</a>,
there are a number of resources which may be shared among them

  * <a name="colket">COLKET, MEREDITH B., JR.</a> *Founders of Early American
    Families: Emigrants from Europe, 1607-1657. Cleveland: General Court of the
    Order of Founders and Patriots of America, 1975.*
  * <a name="virkus">VIRKUS, FREDERICK A., editor</a>. *Immigrant Ancestors: A List of 2,500
    Immigrants to America before 1750. Baltimore: Genealogical Publishing Co., 1964. 75p. Repr. 1986.*

## Ancestry.com 

If you are an ancestry.com subscriber, you can see my tree [here](https://www.ancestry.com/family-tree/tree/79052340/family?cfpid=380070351787&selnode=1)

<style>
h1 { color: #336600; font-weight: bold; width: 100%; padding: 6px; border-bottom: 2px solid #336600; }
h2, h3 { color: #336600; }
</style>
